@{
    ViewBag.Title = "Month Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top: 15px; margin-bottom: 15px">
    <!--Label/Input-->
    <div class="col-md-2">
        <div class="row" style="margin-top: 5px">
            <div id="inputMonthValues" class="col-md-12"></div>
        </div>
    </div>
    <!--Chart-->
    <div class="col-md-10">
        <canvas id="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <input type="button" class="btn btn-info" name="updateChart" value="Update Chart" onclick="updateChart()" style="width: 100%" />
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var chartLabels = [];
        var chartData = [];

        $.ajax({
            url: "/Month/GetMonths",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $(data).each(function (index, item) {
                    //Set values
                    $("#inputMonthValues").append(getInputMonthsHtml(item.MonthName, item.Value));
                    chartLabels.push(item.MonthName);
                    chartData.push(item.Value);
                });

                buildChart(chartData);
            }
        });

        function updateChart() {
            //Get values from page
            var monthViewModel = [];
            var monthInputs = document.getElementsByClassName("month-input");

            for (var i = 0; i < monthInputs.length; i++) {
                monthViewModel[i] = {
                    Id: 0,
                    MonthName: monthInputs[i].name,
                    Value: monthInputs[i].value
                };
            }

            var json = JSON.stringify(monthViewModel);

            //Post Update
            $.ajax({
                type: "POST",
                url: "/Month/UpdateMonths",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    //Clear values
                    $("#inputMonthValues").empty();
                    chartLabels = [];
                    chartData = [];

                    $(data).each(function (index, item) {
                        //Set values
                        $("#inputMonthValues").append(getInputMonthsHtml(item.MonthName, item.Value));
                        chartLabels.push(item.MonthName);
                        chartData.push(item.Value);

                        buildChart(chartData);
                    });
                }
            });
        }

        function buildChart(chartData) {
            var lineChartData = {
                labels: chartLabels,
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(0, 0, 0, 0.7)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: chartData
                }]
            }

            $('#canvas').replaceWith('<canvas id="canvas" style="height:480px; width: 100%"></canvas>');

            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true
            });
        }

        function getInputMonthsHtml(monthName, monthValue) {
            var html = "<div class='row' style='margin-top:5px'>";
            html += "<div class='col-md-6' style='margin-top:7px'>";
            html += "<label for='" + monthName + " 'class='control-label pull-right'>" + monthName + "</label>";
            html += "</div>";
            html += "<div class='col-md-6'>";
            html += "<input type='number' name='" + monthName + " 'class='form-control month-input' value='" + monthValue + "'/>";
            html += "</div>";
            html += "</div>";

            return html;
        }
    </script>
}